<div ngClass="details-container">
    <div class="form-container">
        <form ngClass="form" [formGroup]="employeeFrom" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="fullName">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Mobile</mat-label>
                <input matInput type="text" formControlName="mobileNumber">
                <mat-error *ngIf="employeeFrom?.get('mobileNumber')?.hasError('pattern')">Please enter a valid 10-digit
                    phone
                    number</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput type="text" formControlName="address">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Skills</mat-label>
                <input matInput type="text" formControlName="skills">
                <mat-hint>Please enter the comma seperated values</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Hobbies</mat-label>
                <input matInput type="text" formControlName="hobbies">
                <mat-hint>Please enter the comma seperated values</mat-hint>
            </mat-form-field>
            <div class="upload-container">
                <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept=".jpg , .png, .pdf">
                <span class="file-name">{{selectedFile?.name}}</span>
            </div>
            <button mat-raised-button color="primary" type="submit" [disabled]="!employeeFrom.valid">Submit</button>
        </form>
        <div class="person-details" *ngIf="employee.length>0">
            <app-person-table [personDetails]="employee"></app-person-table>
        </div>
    </div>
</div>